---
import Navbar from "../components/Navbar.astro";
import NavItem from "../components/NavItem.astro";
import LandingPage from "../layouts/LandingPage.astro";
import Header from "../components/Header.astro";
import Main from "../layouts/Main.astro";
import Split from "../layouts/Split.astro";
import List from "../components/List.astro";
import Footer from "../components/Footer.astro";
import Sponsors from "../components/Sponsors.astro";
import Question from "../components/Question.astro";
import Testimonial from "../components/Testimonial.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <title>Charger Shoe Website</title>
    </head>
    <body>
        <Navbar>
            <NavItem text="Home" link="#landing-page">Home</NavItem>
            <NavItem text="About" link="#About">About</NavItem>
            <NavItem text="Questions" link="#Questions">Questions</NavItem>
            <NavItem text="Reviews" link="#Reviews">Reviews</NavItem>
            <NavItem text="Footer" link="#Footer">Footer</NavItem>
        </Navbar>

        <LandingPage />
        <Sponsors />

        <Main>
            <Header
                id="About"
                title="Product Features"
                desc="Everything you need to know about charger shoes"
            />

            <Split>
                <h3 slot="left">Product Description</h3>
                <p slot="left">
                    Our product harnesses the power of the human body to
                    generate electricity out of thin air. While you are engaged
                    in any form of physical activity, our product uses the
                    excess energy to charge a battery. You can then use this
                    battery to charge anything you need including your phone,
                    your laptop, your computer or even your watch.
                </p>

                <List
                    slot="left"
                    items={[
                        "This product is perfect for those who enjoy walking, jogging, running or are just out and about.",
                        "The more active a person is, the more charging capacity their shoe will have.",
                        "Very useful in emergency situations if your phone dies and you don't have access to an outlet.",
                    ]}
                />

                <div class="img-display" slot="right">
                    <div class="img-container">
                        <img src="image2.png" />
                    </div>
                    <div class="split">
                        <div class="img-container">
                            <img src="image1.jpg" />
                        </div>
                        <div class="img-container">
                            <img src="image3.jpg" />
                        </div>
                    </div>
                </div>
            </Split>

            <Header
                id="Questions"
                title="Faq"
                desc="Frequently Asked Questions"
            />

            <Split>
                <div class="faq" slot="left">
                    <Question
                        question="How much does it cost?"
                        answer="Our product is relativly cheap and has a long life span. The price in which you purchase our product will affect it's quailty and efficiency."
                    />
                    <Question
                        question="How long will it last?"
                        answer="Depending on the model you purchase, our product can last for an extremely long time as it is manufactured and inspected to ensure high quality>"
                    />
                    <Question
                        question="How much electricity is generated?"
                        answer="The intensity of your exercise will determine how electricity is generated. "
                    />
                </div>
                <div class="faq" slot="right">
                    <Question
                        question="How do I install charger shoes into my shoe?"
                        answer="Charger shoes can easily be inserted into any shoe you choose or you can buy our custom made shoes that have them pre-instaled>"
                    />
                    <Question
                        question="Do they affect your ability to walk?"
                        answer="Charger shoes are extremely light meaning you won't even notice that you have them installed."
                    />
                    <Question
                        question="How old do you have to be to use one?"
                        answer="You can use charger shoes at any age and for any level of daily activity."
                    />
                </div>
            </Split>

            <Header
                id="Reviews"
                title="Testimonials"
                desc="Everything you need to know about charger shoes"
            />

            <div class="testimonials">
                <Testimonial
                    name="Jake C."
                    subtitle="@jakeyc • November 5th, 2023"
                    quote="Charger shoes where by far the best purchase I have ever made in my life. I never need to use any of my clunky chargers ever again. My electricy bill has never been so cheap since I bought these charger shoes. They are so easy to install, it took my less than a minute. 11/10"
                />
                <Testimonial
                    name="Rabih R."
                    subtitle="@rabihr • November 3th, 2023"
                    quote="The Charger shoes have proven to be the most exceptional acquisition I have ever made in my lifetime. The necessity of utilizing any of my cumbersome chargers has become obsolete. Since acquiring these Charger shoes, my electricity expenses have significantly reduced. The installation process was remarkably effortless, requiring less than a minute of my time. The satisfaction I have derived from this purchase surpasses any rating scale, earning an extraordinary 11/10."
                />
            </div>
        </Main>

        <Footer />
    </body>
</html>

<style is:global>
    :root {
        --primary: #2d6d2b;
        --overlay-30: #f1eae6;
        --overlay-40: #e2d5cc;
        --overlay-50: #d3c0b2;
        --overlay-60: #bfa38e;
        --overlay-70: #aa866b;
        --text: #64748b;
    }

    html {
        scroll-behavior: smooth;

    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100vw;
    }

    * {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    p {
        color: var(--text);
    }
</style>

<style>
    .img-display {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }

    .img-display .split {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }

    .img-container {
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 0.75rem;
        display: flex;
        overflow: hidden;
    }

    .img-container img {
        object-fit: cover;
        max-height: 200px;
        min-width: 100%;
    }

    .faq {
        display: grid;
        gap: 2rem;
    }

    .testimonials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-bottom: 6rem;
    }
</style>
