---
const { text, link } = Astro.props;
---

<p class="nav-item">
    <a href={link}>{text}</a>
</p>

<style>
    a {
        font-weight: 500;
        cursor: pointer;
        position: relative;
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: var(--primary);
    }

    a::after {
        content: '';
        position: absolute;
        width: 100%;
        max-width: 0;
        height: 3px;
        background-color: var(--primary);
        bottom: -6px;
        left: 0;
        transition: 200ms ease;
        opacity: 0;
    }

    a:hover::after {
        opacity: 1;
        max-width: 100%;
    }

</style>