---
const { question, answer } = Astro.props;
---
<div class="question">
    <div class="top">
        <h3>{question}</h3>
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
    </div>
    <div class="content">
        <div>
            <p>{answer}</p>
        </div>
    </div>
</div>

<script>
    const questions = document.querySelectorAll(".question");

    questions.forEach((q) => {
        q.addEventListener("click", () => {
            q.classList.toggle("open");
        })
    })
</script>

<style>
    .question {
        padding: 1.5rem 2rem;
        border-radius: 1rem;
        background-color: var(--overlay-40);
        cursor: pointer;
        transition: filter 400ms ease;
        display: grid;
    }

    .question:hover, .question.open {
        filter: brightness(105%);
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span {
        color: var(--overlay-70);
        user-select: none;
        transition: transform 200ms ease;
    }

    .question.open span {
        transform: rotate(90deg);
    }

    .content {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 200ms ease;
    }

    .content > div {
        overflow: hidden;
    }

    .question.open .content {
        grid-template-rows: 1fr;
    }

    h3 {
        color: var(--overlay-70);
        margin: 0;
    }

    p {
        color: var(--overlay-60);
        margin-bottom: 0;
    }

</style>