<div class="sponsors">
    <img src="sponsors/nike.png" alt="nike">
    <div class="divider"></div>
    <img src="sponsors/puma.png" alt="puma">
    <div class="divider"></div>
    <img src="sponsors/converse.png" alt="converse">
    <div class="divider"></div>
    <img src="sponsors/adidas.png" alt="adidas">
    <div class="divider"></div>
    <img src="sponsors/reebok.png" alt="reeok">
</div>

<style>
    .sponsors {
        background-color: var(--overlay-40);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        height: 100px;
        gap: 5vw;
        padding: 4rem;
    }

    img {
        height: 50px;
    }

    .divider {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--overlay-30);
    }

</style>